<h1>Cue Points</h1>
<hr></hr>
<% if result.length === 0 %>
  <i>No cue points found</i>
<% end %>
<% result.each_index do | index | cuePoint = result.fetch(index) %>
  <h3><%= cuePoint.code %></h3>
  <p><%= cuePoint.start_time %>ms - <%= cuePoint.end_time %>ms</p>
  <p><%= cuePoint.description %></p>
<% end %>
<%= render "add_code_cue_point.html.erb" %>
<hr></hr>