doctype html
html
  head
    title=title

    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no', name='viewport')
    meta(name="description" content="Code Recipes for using the Kaltura VPaaS")

    link(rel='stylesheet' href='/bower/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='stylesheet' href='/css/home.css')
    link(rel='stylesheet' href='/css/navbar.css')
    link(rel='stylesheet' href='/bower/chosen/chosen.min.css')

    script(src="/bower/jquery/dist/jquery.min.js")
    script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower/angular/angular.min.js")
    script(src="/bower/chosen/chosen.jquery.min.js")
    script(src="/bower/angular-chosen-localytics/chosen.js")
    script.
      var RECIPES = !{JSON.stringify(Object.keys(recipes).map(function(k) {return recipes[k]}))};
    script(src="/js/mixpanel.js")
    script(src="/js/ng/locations.js")
    script(src="/js/ng/app.js")
    script(src="/js/ng/home.js")

  body(ng-app="App")
    div(ng-controller="Body")
      mixin container
        .container
          block
      include ./includes/navbar.jade

      div(ng-controller="Recipes")
        .form-group.bg-primary.search-bar
          .container
            .row
              .col-xs-12.col-sm-9
                .input-group
                  input.form-control(type="text" ng-model="query" placeholder="Search")
                  span.input-group-addon
                    i.fa.fa-search.bg-white
              .hidden-xs.col-sm-3
                .btn-toolbar.pull-right
                  .btn-group
                    .btn.btn-primary.dropdown-toggle(data-toggle="dropdown") Sort
                      span(ng-show="sortOptions.active") : {{sortOptions.active}}
                      i.fa.fa-right.fa-caret-down
                    ul.dropdown-menu
                      li
                        a(ng-click="sortOptions.active = null") Default
                      li(ng-repeat="opt in sortOptions")
                        a(ng-click="sortOptions.active = opt" ng-bind="opt")
                  .btn-group
                    .btn.btn-primary.dropdown-toggle(data-toggle="dropdown") Filter
                      span(ng-show="filterOptions.active") : {{filterOptions.active}}
                      i.fa.fa-right.fa-caret-down
                    ul.dropdown-menu
                      li
                        a(ng-click="filterOptions.active = null") None
                      li(ng-repeat="opt in filterOptions")
                        a(ng-click="filterOptions.active = opt" ng-bind="opt")
        .container
          .row
            .col-xs-12.col-sm-6.col-lg-4.text-center(
                  ng-repeat="recipe in matchingRecipes = (recipes | filter: query | filter: recipeFilter | orderBy: recipeSort)"
                  ng-if="!recipe.broken")
              .panel.panel-warning
                .panel-heading
                  a.recipe-link(ng-click="openRecipe(recipe.name)")
                  .row
                    .heading-icon.col-xs-2.text-left
                      i.fa.fa-left(ng-class="'fa-' + (recipe.icon || 'plug')")
                    .heading-title.col-xs-10.text-right.text-uppercase
                      span(ng-bind="recipe.title")
                .panel-body.text-right
                  p
                    i.fa.fa-2x.fa-info-circle(data-toggle="tooltip" data-placement="left" title="{{recipe.tip}}")
                  p(ng-bind="recipe.description")
                  p.keywords
                    .keyword-badge(ng-repeat="keyword in recipe.keywords" ng-bind="keyword")
          .row.suggestion-bar
            .col-xs-12(ng-controller="Suggestion")
              h4.text-black Can't find what you're looking for?
              .alert.alert-success(ng-show="success") Thanks for your feedback!
              form(ng-submit="sendSuggestion()")
                .form-group
                  span.text-primary Let us know what we're missing.
                  textarea.form-control(ng-model="suggestion")
                .form-group
                  button.btn.btn-sm.btn-primary(type="submit") Submit
