doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no', name='viewport')

    script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
    link(href='/css/styles.css', rel='stylesheet')
    link(rel="stylesheet" href="/css/home.css")
    title Kaltura VPaaS Interactive Code Cookbook

body
  .container
    .row
      each recipe, recipeName in recipes
        if !recipe.broken
          .col-xs-12.col-sm-6.col-md-4.text-center.recipe-col
            a.recipe-link(href="/recipes/#{recipeName}")
            .recipe-item
              h3.recipe-title #{recipe.title}
              p.recipe-icon.fa(class="fa-#{ recipe.icon || 'plug' }")
              p.recipe-description.text-left #{recipe.description}
