doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no', name='viewport')
    meta(name="description" content="Code Recipes for using the Kaltura VPaaS")

    link(rel='stylesheet' href='/css/styles.css')
    link(rel='stylesheet' href='/css/home.css')
    link(rel='stylesheet' href='/css/navbar.css')
    link(rel='stylesheet' href='/bower/chosen/chosen.min.css')
    title="Kaltura Developer"

    script(src="/bower/jquery/dist/jquery.min.js")
    script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower/angular/angular.min.js")
    script(src="/bower/chosen/chosen.jquery.min.js")
    script(src="/bower/angular-chosen-localytics/chosen.js")
    script.
      var RECIPES = !{JSON.stringify(Object.keys(recipes).map(function(k) {return recipes[k]}))};
    script(src="/js/mixpanel.js")
    script(src="/js/ng/locations.js")
    script(src="/js/ng/app.js")
    script(src="/js/ng/home.js")

  body(ng-app="App")
    div(ng-controller="Body")
      mixin container
        .container
          block
      include ./includes/navbar.jade

      .container(ng-controller="Recipes")
        .row
          .col-xs-12
            .form-group
              input.form-control(type="text" ng-model="query" placeholder="Search")
        .row
          .col-xs-12.col-sm-6.col-md-4.text-center.recipe-col(
                ng-repeat="recipe in matchingRecipes = (recipes | filter: query)"
                ng-if="!recipe.broken")
            a.recipe-link(ng-click="openRecipe(recipe.name)")
            .recipe-item
              h3.recipe-title {{recipe.title}}
              p.recipe-icon.fa(ng-class="'fa-' + (recipe.icon || 'plug')")
              p.recipe-description.text-left {{recipe.description}}
          .col-xs-12(ng-controller="Suggestion")
            h4 Can't find what you're looking for?
            .alert.alert-success(ng-show="success") Thanks for your feedback!
            form(ng-submit="sendSuggestion()")
              .form-group
                label Tell us what we're missing!
                textarea.form-control(ng-model="suggestion")
              .form-group
                button.btn.btn-success(type="submit") Submit
