extends layout

block body

  .container
    h1 Kaltura Recipes
    hr
    each recipe, recipeName in recipes
      .row
        .col-xs-12
          h3
            if recipe.broken
              span #{recipe.title} (In Progress)
            else
              a(href="/recipes/#{recipeName}") #{recipe.title}
          p #{recipe.description}
          if recipe.notes
            p
              b Issues:
            each note in recipe.notes
              p
                i #{note}
      hr

