extends layout

block head
  script.
    var RECIPE = !{JSON.stringify(recipe)};
  script(src="/js/ng/input.js")
  script(src="/js/ng/recipe.js")
  script(src="/js/ng/download-zip.js")
  script(src="/bower/jszip/dist/jszip.min.js")
  script(src="/bower/FileSaver/FileSaver.min.js")
  link(href="/css/recipe.css" rel="stylesheet")
  
  title Kaltura VPaaS Cookbook: #{recipe.title} Recipe

block body
  #Recipe.container-fluid(ng-controller="Recipe")
    .row
      .col-xs-12
        h2 {{ recipe.title }}&nbsp;&nbsp;
          small
            a.recipe-btn(href="/")
              i.fa.fa-chevron-circle-left
              span &nbsp;Back to Cookbook
        hr
    .row.console-row
      #Answers.col-xs-12.col-md-6.col-no-bottom(ng-controller="Answers" ng-cloak)
        include ./includes/steps/step-navigation.jade
        include ./includes/steps/language.jade
        include ./includes/steps/step.jade
        include ./includes/steps/finish.jade
        .form-group(ng-show="ready")
          a.btn.btn-info(
              ng-click="backToCookbook()"
              ng-show="recipeStepIdx === recipe.recipe_steps.length") Back to Cookbook
          a.btn.btn-success(
              ng-click="setControlSet(recipeStepIdx + 1)"
              ng-show="recipeStepIdx < recipe.recipe_steps.length")
            span Next Step:&nbsp;
            span(ng-show="recipe.recipe_steps[recipeStepIdx + 1]")
              span {{ recipe.recipe_steps[recipeStepIdx + 1].title || 'Untitled' }}
      #Code.col-xs-12.col-md-6.col-no-bottom(ng-controller="Code" ng-show="ready")
        .row
          .btn-group.col-xs-4.col-no-right.col-no-bottom(role='group')
            button.pin-bottom.pin-right.btn-group.btn.btn-default.width-full.btn-code-toolbar.dropdown-toggle(
                    role='group',type='button',data-toggle='dropdown')
              span.fa.fa-file-code-o
              span &nbsp;
              span.hidden-xs {{ activeFile.filename.substring(activeFile.filename.lastIndexOf('/') + 1) }} &nbsp;
              span.caret
            ul.dropdown-menu
              li.nav(role='presentation',ng-repeat="file in files")
                a(ng-click='setFile(file)')
                  span(ng-if="file.type",ng-class="{fa: true, 'fa-desktop': file.type === 'client', 'fa-plug': file.type === 'server'}")
                  span &nbsp;&nbsp;{{ file.filename }}
          .btn-group.col-xs-4.col-no-left.col-no-right.col-no-bottom
            a.btn.btn-default.btn-code-toolbar.width-full.pin-left.pin-bottom(ng-click='toggleExpand()')
              i(ng-class="{fa: true, 'fa-expand': !expanded, 'fa-compress': expanded}")
              span.hidden-xs &nbsp; {{ expanded ? 'View Snippet' : 'View Full File' }}
          #Downloader.btn-group.col-xs-4.col-no-left.col-no-bottom(ng-controller="Downloader")
            include ./includes/download-modal.jade
            a.btn.btn-default.btn-code-toolbar.width-full.pin-left.pin-bottom(ng-click="showDownload()")
              i.fa.fa-download
              span.hidden-xs &nbsp;Download Zip
        .row(ng-if="ready")
          .col-xs-12
            .hljs-div.pin-top(hljs source='codeSnippet' language="{{ hljsLanguage }}")
    .alert.alert-danger(ng-if="globalError")
      p {{ globalError }}
    #Demo.row.demo-row(
        ng-controller="Demo"
        ng-if="ready && recipeStepIdx !== -1"
        ng-show="recipe.recipe_steps[recipeStepIdx].page !== -1")
      .col-xs-12
        hr
        h3
          span Live Demo&nbsp;
          span.small
            i.fa.fa-question-circle(ng-click="showHelp = !showHelp")
          span.small(ng-if="showHelp") &nbsp;This is a live demonstration of the code generated above.
      iframe#DemoFrame.demo-frame(name="DemoFrame")
      form#DemoForm.hidden(action='/recipes/#{recipe.name}/embed' method="POST" target="DemoFrame")
