extends layout

block head
  script.
    var RECIPE = !{JSON.stringify(recipe)};
  script(src="/js/ng/input.js")
  script(src="/js/ng/recipe.js")
  script(src="/js/ng/download-zip.js")
  script(src="/bower/jszip/dist/jszip.min.js")
  script(src="/bower/FileSaver/FileSaver.min.js")
  link(href="/css/recipe.css" rel="stylesheet")
  
  title Kaltura VPaaS Cookbook: #{recipe.title} Recipe

block body
  #Recipe.container-fluid(ng-controller="Recipe")
    a.btn.btn-link.recipe-btn(href="/")
      i.fa.fa-chevron-circle-left
      span &nbsp;Back to Recipe List
    .row.console-row
      #Answers.col-xs-12.col-md-6.col-no-bottom(ng-controller="Answers")
        #Language.control-set(ng-controller="Language",ng-hide="controlSetIdx >= 0")
          h3.header-no-top.text-regular {{ recipe.title }}
          p {{ recipe.description }}
          if recipe.video
            .video-container
              iframe(src="#{recipe.video}" width="560" height="395" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0")
          p Choose your programming language to start building!
          .dropdown
            button.btn.btn-info.btn-width-lg.btn-spaced(type='button',data-toggle='dropdown')
              span {{ language ? language.label : 'Choose' }} &nbsp;
              span.caret
            ul.dropdown-menu
              li(role="presentation",ng-repeat="language in languages")
                a(role='menuitem',ng-click='setLanguage(language)') {{ language.label }}
        .control-set(ng-if="controlSetIdx >= 0")
          h3.header-no-top.text-regular {{ recipe.control_sets[controlSetIdx].title }}
          p(marked="recipe.control_sets[controlSetIdx].tip")
          form(name="inputForm" id="InputForm")
            .control-input.form-group(ng-repeat="input in recipe.control_sets[controlSetIdx].inputs")
              div(ng-if="input.type === 'group'")
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.text-regular
                      a.link-fill.link-plain(data-toggle="collapse",href="#group{{$index}}")
                        i.fa.fa-plus-square-o
                        span &nbsp;{{ input.label }}
                  .panel-collapse.collapse(id="group{{$index}}")
                    .panel-body
                      div(ng-repeat="input in input.inputs")
                        include ./includes/input.jade
              include ./includes/input.jade
          a.btn.btn-info.btn-spaced.btn-width-sm(ng-if='controlSetIdx + 1 !== recipe.control_sets.length',
                                                 ng-click='setControlSet(controlSetIdx + 1)') Next
          a.btn.btn-info.btn-spaced.btn-width-sm(ng-if='controlSetIdx + 1 === recipe.control_sets.length',
                                                 href='/') Finish
        .text-center
          ul.pagination(ng-if="ready")
            li(ng-class="{ active: controlSetIdx === -1}")
              a(ng-click="setControlSet(-1)") 0
            li(ng-class="{ active: controlSetIdx === $index }"
               ng-repeat="controlSet in recipe.control_sets")
              a(ng-click="setControlSet($index)") {{ $index + 1 }}

      #Code.col-xs-12.col-md-6.col-no-bottom(ng-controller="Code",ng-hide="!ready")
        .row
          .btn-group.col-xs-4.col-no-right.col-no-bottom(role='group')
            button.pin-bottom.pin-right.btn-group.btn.btn-default.width-full.btn-code-toolbar.dropdown-toggle(
                    role='group',type='button',data-toggle='dropdown')
              span.fa.fa-file-code-o
              span &nbsp;
              span.hidden-xs {{ files[activeFileIdx].filename.substring(files[activeFileIdx].filename.lastIndexOf('/') + 1) }} &nbsp;
              span.caret
            ul.dropdown-menu
              li.nav(role='presentation',ng-repeat="file in files")
                a(ng-click='setFile($index)')
                  span(ng-if="file.type",ng-class="{fa: true, 'fa-desktop': file.type === 'client', 'fa-plug': file.type === 'server'}")
                  span &nbsp;&nbsp;{{ file.filename }}
          .btn-group.col-xs-4.col-no-left.col-no-right.col-no-bottom
            a.btn.btn-default.btn-code-toolbar.width-full.pin-left.pin-bottom(ng-click='toggleExpand()')
              i(ng-class="{fa: true, 'fa-expand': !expanded, 'fa-compress': expanded}")
              span.hidden-xs &nbsp; {{ expanded ? 'View Snippet' : 'View Full File' }}
          #Downloader.btn-group.col-xs-4.col-no-left.col-no-bottom(ng-controller="Downloader")
            a.btn.btn-default.btn-code-toolbar.width-full.pin-left.pin-bottom(ng-click="download()")
              i.fa.fa-download
              span.hidden-xs &nbsp;Download Zip
         .row(ng-if="ready")
          .col-xs-12
            .hljs-div.pin-top(hljs source='getActiveCode()')
    .alert.alert-danger(ng-if="globalError")
      p {{ globalError }}
    #Demo.row.demo-row(ng-controller="Demo", ng-if="ready", ng-show="recipe.control_sets[controlSetIdx].page !== -1")
      .col-xs-12
        hr
        h3
          span Live Demo&nbsp;
          span.small
            i.fa.fa-question-circle(ng-click="showHelp = !showHelp")
          span.small(ng-if="showHelp") &nbsp;This is a live demonstration of the code generated above.
      iframe#DemoFrame.demo-frame(name="DemoFrame")
      form#DemoForm.hidden(action='/recipes/#{recipe.name}/embed' method="POST" target="DemoFrame")
